force-app/main/default/flows/CandidateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CandidateExist</name>
        <label>CandidateExist</label>
        <locationX>159</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Contact_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Candidate Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>CandidateAlreadyInSys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CandidateAlreadyE</targetReference>
            </connector>
            <label>CandidateAlreadyInSys</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PC</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CandidateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CandidateFlow11</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CandidatRecord</name>
        <label>CandidatRecord</label>
        <locationX>322</locationX>
        <locationY>793</locationY>
        <assignRecordIdToReference>RecCandidate</assignRecordIdToReference>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Faults</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrentEmp__c</field>
            <value>
                <elementReference>Employed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Employer__c</field>
            <value>
                <elementReference>Employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>education</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOE__c</field>
            <value>
                <elementReference>YearOfEx</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordLookups>
        <name>Candidate_Check</name>
        <label>Candidate Check</label>
        <locationX>56</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CandidateExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Faults</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputAssignments>
            <assignToReference>ExistCandidateId1</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>CandidateAlreadyE</name>
        <label>CandidateAlreadyE</label>
        <locationX>322</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>candidateName</targetReference>
        </connector>
        <fields>
            <name>FinalS1</name>
            <fieldText>&lt;p&gt;{!First_Name} {!LastName}, candidate with this name already exist!! please add different one!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>candidateName</name>
        <label>candidateName</label>
        <locationX>171</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Candidate_Check</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>165</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Experience_and_Edu</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Faults</name>
        <label>Display Faults</label>
        <locationX>54</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Experience_and_Edu</name>
        <label>Experience and Edu</label>
        <locationX>163</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CandidatRecord</targetReference>
        </connector>
        <fields>
            <name>YearOfEx</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>YearOfEx</elementReference>
            </defaultValue>
            <fieldText>YearOfEx</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Employed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Employed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employer</name>
            <dataType>String</dataType>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>education</name>
            <choiceReferences>PC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Education</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Candidate you entered</description>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>533</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Candidate you entered {!First_Name} {!LastName} is created!!!!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>candidateName</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CandRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistCandidateId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistCandidateId1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
