force-app/main/default/flows/CaseFlow_123.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Installation</name>
        <choiceText>{!caseR1.Reason}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Installation</promptText>
        </userInput>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>No_1234</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_NotAvailable</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>{!462003a7-8887-479d-9d16-8f70591d5e93.Yes}</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>{!Name}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Yes</promptText>
        </userInput>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>YES_1234</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_ContactAvailable</name>
        <choiceText>yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>True</elementReference>
        </value>
    </choices>
    <constants>
        <name>Yes_12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes_123</name>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Istrue</name>
        <label>Istrue</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_a_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTRUE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_1234</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Contact</targetReference>
            </connector>
            <label>IsTrue</label>
        </rules>
        <rules>
            <name>ISFALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES_1234</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Record</targetReference>
            </connector>
            <label>ISFALSE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Reasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CaseFlow_123 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseFlow_123</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CaseRecord</name>
        <label>CaseRecord</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Contact_Associated</targetReference>
        </connector>
        <inputReference>caseR1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContactRecord</name>
        <label>CreateContactRecord</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>ContactCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_on_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name_1.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContact__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name_1.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Contact_Associated</name>
        <label>Contact Associated??</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Istrue</targetReference>
        </connector>
        <fields>
            <name>ContactAvailable</name>
            <choiceReferences>YES_1234</choiceReferences>
            <choiceReferences>No_1234</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>YES_1234</defaultSelectedChoiceReference>
            <fieldText>ContactAvailable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactCreated</name>
        <label>ContactCreated</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Record</targetReference>
        </connector>
        <fields>
            <name>ContactCreated12</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ContactCreated_1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Contact</name>
        <label>Create a Contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateContactRecord</targetReference>
        </connector>
        <fields>
            <name>Name_1</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_on_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Record</name>
        <label>Create a Record</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_Reason</name>
            <choiceReferences>Reasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Installation</stringValue>
            </defaultValue>
            <fieldText>Select Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>caseR1.SuppliedEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;{!CaseRecord}&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseR1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>cID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
